* {
    margin:0;
    padding:0;
}
@media (max-width: 1024px) {body {
    width: 1024px;
}}
body {
    font: 13px Helvetica,Arial,sans-serif;
    line-height: 1.62;
    padding:0;
}
a {
    text-decoration: none;
}
a:link, a:visited{
    color:#3377aa;
} 
a:hover {
    background-color: #3377aa;
    color: white;
}
ul {
    list-style: none;
}

/*nav是顶部导航栏*/
#nav {
    width:100%;
    min-width: 940px;
    height: 28px;
    background-color: #545652;
    color: #d5d5d5;
}
#nav ul {
    display: block;
}
#nav #right-nav {
    float: right;
}
#nav ul li {
    display: inline-block;
    line-height: 28px;
    vertical-align: baseline;
}
#nav ul #download {
    position: relative;
}
#nav ul li a {
    padding: 0 12px;
    height: 28px;
    text-decoration: none;
    cursor: pointer;
    vertical-align: top;
}
#nav ul li a:link,#nav ul li a:visited {
    color: #d5d5d5;
}

#nav ul li a:active, #nav ul li a:hover {
    color: #fff;
    background-color: transparent;
}
#nav ul #download #qr {
    display: none;
    width: 211px;
    position: absolute;
    left: -76px;
    padding: 10px 20px 30px 20px;
    color: #111;
    text-align: center;
    background-color:#fff;
    border: 1px solid #e6e6e6;
    border-top: none;
    z-index: 2;
}
#nav ul #download #qr #title {
    display: block;
    padding-top: 170px;
    background: url("../images/nav_doubanapp_6.png") no-repeat center;
    font-size: 24px;
    font-weight: 400;
}
#nav ul #download #qr #qrcode {
    padding-top:160px;
    margin-top: 30px;
    font-size:0;
    background: url("../images/nav_doubanapp_6_qrcode.png") no-repeat center;
}
#nav ul #download #qr #type a{
    color: #37a;
}
#nav ul #download #qr #type a {
    display: inline;
    font-weight: normal;
    font-size: 12px;
    padding: 0;
}

/*top是顶部*/
#top {
    background: #f6f6f1;
    margin-bottom: 40px;
    min-width: 1040px;
    position:relative;
}
@media (max-width: 1024px){
#top {
    min-width: 1024px;
}}
#top .up {
    border-bottom: 1px solid #e5ebe4;
}
#top .section {
    width: 1040px;
    margin:0 auto ;
    padding-left: 12px;
}
#top .up .section {
    padding:10px 0 5px 12px;
    overflow: hidden;
}
#top .up .section .logo {
    float: left;
    height: 56px;
    width: 145px;
    margin-right: 13px;
    background:url(../images/lg_book@2x.png) no-repeat 0 12px;
    background-size: 80%;
}
#top .up .section .logo a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    line-height: 20em;
}
#top .up .section .search {
    margin-left: 145px;
    text-align: center;
    padding: 10px 0 15px 0;
    
}
#top .up .section .search #find {
    float: left;
    background: #fff;
    width: 470px;
    margin-right: -3px;
    text-align: left;
    height: 30px;
    padding-left: 10px;
    height: 31px;
    line-height: 28px;
    outline: none;
    cursor: text;
    border:none;
    border-radius:3px;
    box-shadow: 0 2px #ddd;
}
#top .up .section .search #sure {
    display: block;
    position: relative;
    left: -1px;
    line-height: 20em;
    width: 37px;
    height: 34px;
    padding-top: 34px;
    border: 0;
    cursor: pointer;
    background: url(../images/nav_bk_bg.png) no-repeat 0 -40px;
}
#top .down{ 
    overflow:hidden;
}
#top .down .section ul {
    margin: 9px 0;
}
#top .down ul li {
    display: inline-block;
    margin-right: 25px;
}
#top .down ul li:last-child{
    padding-left: 18px;
    background: url(../images/icon_myorders.png) no-repeat 1px 1px;
}
#top .down ul li a:link,#top .down ul li a:visited {
    color: #614e3c;
}
#top .down ul li a:hover {
    background-color: #614e3c;
    color: #fff;
}
#top .down .section .rank{
    position: absolute;
    width: 186px;
    height: 96px;
    top: 10px;
    left: 50%;
    margin-left: 280px;
    background: url(../images/annual_2018.png) center no-repeat;
    background-size: contain;
    z-index: 1;
}

/*main 是主要内容*/
#main {
    width: 1040px;
    margin: 0 auto;
}
@media (max-width: 1024px){
#main {
    width: 1000px;
}
}
#main  .title{
    padding-bottom: 3px;
    margin-bottom: 16px;
    border-bottom: 1px solid #ddd;
    line-height: 24px;
}
#main .title h1 .links-more {
    font-size: 13px;
    font-weight: normal;
    padding-left: 10px;
}
#main  .title h1 {
    font-weight: bold;
    font-size: 16px;
}
/*右边栏*/
#bar {
    float: right;
    width:300px;
    margin-bottom: 30px;
}
li {
    display: block;
}
/* tags 热门标签*/
#tags {
    padding-bottom: 20px;
}
#bar #tags ul {
    display: block;
}
#bar #tags .name {
    font-size: 13px;
}
#bar #tags .part {
    border-bottom: 1px dashed #ddd;
    margin-bottom: 15px;
}
#bar #tags ul li ul{
    overflow: hidden;
}
#bar #tags ul li ul li {
    display: block;
    float: left;
}
#bar #tags ul a:link {
    width: auto;
    word-break: keep-all;
    white-space: nowrap;
    background-color: #f5f5f5;
    color: #37A;
    font-size: 13px;
    padding: 2px 11px 0;
    display: block;
    margin: 0 3px 5px 0;
    line-height: 20px;
}
#bar #tags .tag:hover {
    background-color: #e8e8e8;
}
#bar .more, #bar #tags ul .more a:link, #bar #tags ul .more:visited,#bar #tags .more:hover   {
    color: #aaa;
    line-height: normal;
}
#bar #tags .more a:hover {
    background-color: #e8e8e8;
    line-height: normal;
}
/* 畅销图书榜*/
#rank {
    margin-bottom: 32px;
}
#rank .title h1{
    font-size: 18px;
}
#rank #which-rank #choose {
    margin-bottom: 15px;
}
#jd, #dd {
    color: #ccc5bf;
    font-size: 13px;
    cursor: pointer;
    margin-right: 10px;
    display: inline-block;
    display: inline;
    line-height: 1;
    padding: 5px;
    border-radius: 2px;
}
#jd img, #dd img {
    width: 18px;
    height: 18px;
    vertical-align: top;
}
#rank .click-rank, #jd:hover, #dd:hover {
    color: #fff;
    background: #9b7c5e;
}
#which-rank .books {
    font-size: 14px;
}
#which-rank .books li {
    padding: 4px 0;
    margin-bottom: 1px;
    border-bottom: 1px dashed #ddd;
    position: relative;
    overflow: hidden;
}
#which-rank .books li:hover {
    background-color: #f9f9f6;
}
#which-rank .books .num{
    float: left;
    width: 20px;
    text-align: middle;
}
#which-rank .books .infor {
    float: left;
}
#which-rank .books .infor span {
    display: block;
    color: #666;
    font-size: 13px;
    min-height: 19px;
}
#which-rank .books .shop{
    border: 1px solid transparent;
    float: right;
    color: #999;
    font-size: 13px;
    line-height: 100%;
    padding: 6px 8px;
    position: relative;
    top: 8px;
    right: 5px;
}
#which-rank .books li:hover .shop {
    border-radius: 2px;
    border: 1px solid #d4bea7;
    color: #d4bea7;
}
#jd-rank {
    display: block;
}
#dd-rank {
    display: none;
}
/* 豆瓣图书 */
#dbbooks {
    margin-bottom: 20px;
}
#dbbooks .title h1 {
    font-weight: bold;
    font-size: 16px;
}
 #dbbooks .title h1 span {
    font-size: 13px;
    font-weight: normal;
}
#dbbooks .books {
    margin-right: -22.5px;
    display: flex;
    flex-wrap: wrap;
}
#dbbooks .book {
    float: left;
    margin: 0 22.5px 10px 0;
    vertical-align: top;
}
#dbbooks .book  .pic{
    display: block;
    width:85px;
    height: 127px;
}
#dbbooks .book .pic:hover {
    background: transparent;
}
#dbbooks .book a img {
    max-width: 100%;
}
#dbbooks .book .name{
    width: 85px;
    margin-top: 5px;
    text-align:  center;
}
/* 联系我们 */
#contact {
    margin-top: 25px;
}
#bar .grey-click h1{
    font-size: 14px;
}
#bar .grey-click:hover {
    background-color: #666;
    color: #fff;
    cursor: text;
    
}
#contact div {
    margin-bottom: 30px;
}
#contact img{
    height: 12px;
}

/* 关注我们 */
#focus ul {
    overflow: hidden;
}
#focus ul li {
    display: block;
    float: left;
    width: 60px;
}
#focus ul .pic{
    width: 40px;
    height: 40px;
    margin: 0 auto 5px auto;
    display: block;
}
#focus ul div {
    text-align: center;
}
#focus ul li:nth-child(1) .pic {
    background: url("../images/home_site.jpg") no-repeat center;
}
#focus ul li:nth-child(2) .pic{
    background: url("../images/home_weibo.png") no-repeat center;
}
#focus ul li:nth-child(3) .pic{
    background: url("../images/home_weixin.png") no-repeat center;
}

/* 主要内容 */
#article {
    width: 675px;
}
#article .title h1 {
    font-size: 18px;
    font-weight: bold;
}
#article .links-bar {
    float: right;
    overflow: hidden;
    margin-top: -25px;
}
#article .wrapper {
    margin-bottom: 50px;
}
.links-bar div, .links-bar ul, #article .links-bar li{
    display: inline-block;
    vertical-align: middle;
}
.links-bar .point {
    margin-right: 6px;
}
.links-bar .point li{
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: #dfdfdf;
    margin-left: 8px;
    cursor: pointer;
    font-size: 0;
}
.links-bar .point .point-focus {
    background: #9b9a8e;
}
.links-bar .left-right li{
    width: 18px;
    height: 18px;
    font: 100 16px Arial;
    color: #fff;
    text-align: center;
    line-height: 16px;
    margin-left: 4px;
    outline: none;
    border-radius: 9px;
    background: #9b9a8e;
    cursor: pointer;
}
.left-right li:hover, .left-right-focus{
    opacity: 0.8;
}
.pages {
    margin-right: -25px;
    font-size: 0;
}
.pages li{
    display: inline-block;
    margin-right: 25px;
    margin-bottom: 15px;
    vertical-align: top;
}
.pages .pic {
    width: 115px;
    height: 172px;  
    margin-bottom: 7px;
}
.pages .pic img {
    width: 115px;
    height: 172px;  
    vertical-align: middle;
}
.pages span {
    display: block;
}
.pages .name {
    font-size: 14px;
    margin-bottom: 6px;
}
.pages .author {
    color: #333;
    width: 102px;
    font-size: 13px;
    margin-bottom: 6px;
}

#booksnews .item {
    padding: 25px;
    margin-bottom: 4px;
    border: 1px solid #ddd;
    border-radius: 2px;
}
#booksnews .pic {
    float: right;
    height: 96px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}
#booksnews .text {
    margin-right: 116px;
}
#booksnews .item h2 {
    line-height: 1.38;
    font-size: 15px;
    color: #37a;
}
#booksnews .item .type {
    display: block;
    color: #aaa;
    font-size: 13px;
    line-height: 1;
    margin-top: 8px;
}
#booksnews .infor {
    display: block;
    color: #494949;
    line-height: 1.5;
    margin: 8px 0 0 0;
    font-size: 13px;
}

#focusbook ul {
    font-size: 0;
}
#focusbook .item{
    display: inline-block;
    width:337px;
    vertical-align: top;
    font-size: 13px;
    margin-bottom: 30px;
}
#focusbook .pic {
    float: left;
    width: 85px;
    height: 120px;
    margin-right: 18px;
}
#focusbook .pic img {
    height: 100%;
    vertical-align: middle;
}
#focusbook .infor {
    margin-right: 20px;
}
#focusbook .infor p {
    word-wrap: break-word;
    margin: 0;
}
#focusbook h3 {
    font-size: 15px;
    font-weight: normal;
}
.star-img {
    display: inline-block;
    width: 55px;
    height: 11px;
    background: url(../images/ic_rating_s.png) no-repeat ;
}
#article .star10 {
    background-position: 0 0;
}
#article .star8 {
    background-position: 0 -22px;
}
#article .star9 {
    background-position: 0 -11px;
}
#article .average {
    color: #e09015;
    font-size: 10px;
}
#focusbook .e-book span {
    width: 52px;
    padding: 2px 3px;
    color: #fff;
    background-color: #a1a1a1;
    line-height: 1;
}
#focusbook .infor .review {
    clear: both;
    padding-top: 15px;
    color: #666;
}

#bookshop .top {
    overflow: hidden;
    margin-bottom: 30px;
}
#bookshop .top .pic {
    width: 130px;
    height: 172px;
    float: left;
    margin-right: 20px;
}
#bookshop .top .pic a {
    background: url(../images/3581.jpg) no-repeat;
    width:130px;
    height: 172px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
}
#bookshop .top .infor .name {
    display: block;
    font-size: 23px;
    line-height: 32px;
    margin-bottom: 6px;
}
#bookshop .top .price {
    display: inline-block;
    font-size: 14px;
    color: #E76648;
    margin-left: 17px;
}
#bookshop .top .desc {
    margin: 0;
    color: #9B9B9B;
    font-size: 14px;
    line-height: 20px;
}
#bookshop .list {
    display: block;
    font-size: 0;
    margin-right: -25px;
}
#bookshop .list li{
    display: inline-block;
    width: 115px;
    margin-right: 25px;
    margin-bottom: 20px;
}
#bookshop .list img {
    width: 100%;
    vertical-align: middle;
}
#bookshop .list .infor {
    font-size: 13px;
}
 #e-books .content .title {
     border: none;
     padding: 0;
     margin-bottom: 13px;
 }
 #e-books .content .title h1,#e-books .content .title .links-more {
     font-size: 15px;
     font-weight: normal;
 }
 #e-books .content ul {
    font-size:0;
    margin-right: -25px;
 }
 #e-books .content li {
     display: inline-block;
     width: 115px;
     margin: 0 25px 20px 0;
     font-size: 13px;
 }
 #e-books .pic {
     margin-bottom: 12px;
 }
 #e-books .content img {
     width: 100%;
     vertical-align: middle;
 }
 #e-books .content .name {
     margin-bottom: 5px;
     line-height: 1.1;
 }

 #hot-review .content li {
     display: block;
     padding-bottom: 24px;
     border-bottom:1px solid #eaeaea;
     margin-bottom: 24px;
 }
 #hot-review .pic {
     float: left;
 }
 #hot-review img{
     width: 75px;
     vertical-align: middle;
 }
 #hot-review .infor {
    padding-left: 90px;
 }
 #hot-review h3 {
     font-size: 15px;
     font-weight: normal;
 }
 #hot-review .reviews a {
     color: #666;
 }
 #hot-review .reviews a:hover {
     color: #fff;
 }
 #hot-review ul li:last-child {
     border: none;
 }
 #footer {
     width: 1000px;
    color: #999;
    padding: 6px 0;
    margin-top: 40px;
    overflow: hidden;
    border-top: 1px dashed #ddd;
    padding-bottom: 10px;
 }
 #footer .links {
     float: right;
 }