
body {
    font:12px Helvetica,Arial,sans-serif;
    line-height: 1.62;
    color:black;
    padding:30px 0;
}
.section {
    display: block;
    width:950px;
    margin:auto;
    zoom:1;
    overflow:hidden;
}

h2 {
    font:15px Arial,Helvetica,sans-serif;
    color:#072;
    margin: 0 0 12px 0;
    line-height: 150%;
}
.part {
    padding:10px 0;
    margin-bottom:30px;
    min-height:200px;
}
.part:nth-child(2n){
    background-color: #f7f7f7;
    padding:40px 0 20px 0;
}
div {
    display: block;
    margin:0;
    padding:0;
}
ul {
    display: block;
    list-style: none;
    margin-right:0px;
    padding: 0px;
}
.list {
    letter-spacing:-0.31em;
}
li {
    display: inline-block;
    vertical-align: top;
    padding:0;
    letter-spacing:normal;
    word-spacing:normal;
    font-size:12px;
}
a {
    cursor:pointer;
    text-decoration: none;
}
a:link {
    color:#37a;
}
a:visited {
    color: #669;
}
a:hover {
    background: #37a;
    color: #fff;
}
a:active {
    color:#fff;
    background: #f93;
}
.main {
    overflow:hidden;
}
.side {
    float:right;
    display:block;
    width:265px;
    margin-left:30px;
}
.name .title {
    display: block;
    width:170px;
}
#top{
    margin-bottom:25px;
}
#top .list{
    float:right;
    
}
#top ul {
    margin:0;
}
#top ul li a{
    background-image:url(../images/anony_nav_logo.png);
    background-repeat:no-repeat;
    background-position:0 0;
    overflow:hidden;
    display:block;
    width:40px;
    height:20px;
    line-height:10em;
}
#top .list li{
    margin-left:17px;
}
#top .list li  .reading{
    background-position:0 0;
}
#top .list li  .movie{
    background-position:-60px 0;
}
#top .list li  .music{
    background-position:-120px 0;
}
#top .list li  .group{
    background-position:-180px 0;
}
#top .list li a.city{
    background-position:-299px 0;
}
#top .list li  .FM{
    background-position:-241px 0;
}
#top .list li  .time{
    background-image:url(../images/ic_shijian_home_nav.png);
}
#top .list li .doupin{
    background-position:-422px 0;
}
#top h2 {
    display:inline-block;
    width:160px;
    height:34px;
    background:url(../images/logo_db.png) no-repeat 0 0;
    overflow:hidden;
    margin:0 20px 0 0;
    line-height:1.1;
    vertical-align:middle;
}
#top h2 a{
    display:block;
    width:160px;
    height:34px;
    line-height:10em;
}
#top .search{
    display:inline-block;
    position:relative;
    width:270px;
    border:1px solid #999;
    vertical-align:middle;
}
#top .search input{
    outline:none;
    border:0;
}
#top .search #find{
    width:240px;
    padding:5px;
    color:#ddd;
}
#top .search #sure{
    position:absolute;
    right:0;
    width:30px;
    height:30px;
    margin:0;
    padding:0;
    background:url(../images/bn_srh_1.png) 50% 50% no-repeat;
    background-position:50%;
    overflow:hidden;
    line-height:10em;
}

#home {
    position:relative;
    margin-bottom:25px;
    background-image:url(../images/home.jpg);
    background-repeat:no-repeat;
    background-position:calc(50% - 305px) top;
    background-size:contain;
    background-color:#edf4ed;
}
#home .section{
    padding:28px 0 4px 0;
}
#home .login{
    float:right;
    width:270px;
    margin-bottom:15px;
}

#home input{
    border:0;
    font-size:12px;
}
#home .login .infor input{
    width:220px;
    padding:8px 8px;
    margin-right:3px;
}
#home .login .infor:nth-child(1) input{
    width:252px;
    margin-bottom:4px;
    border:1px solid #DBE5DB;
    border-radius:2px;
}

#home .login .infor:nth-child(2){
    position:relative;
    width:268px;
    margin-bottom:4px;
    border:1px solid #DBE5DB;
    border-radius:2px;
    background:#fff;
}
#home .help{
    position:absolute;
    top:0;
    right:10px;
    font-size:12px;
    line-height:35px;
}
#home .help a:link,#home .help a:visited{
    color:#ccc;
}
#home .help a:hover{
    color:#555;
    background: transparent;
}
#home .login fieldset{
    border:0;
    padding:0;
    margin:0;
}
#home .bar{
    margin:6px 0 4px 0;
}
#home .bar input,#home .bar a{
    display:inline-block;
    width:89px;
    padding:0 22px;
    border-radius:2px;
    background:#30A080;
    color:#30a080;
    line-height:1;
    text-align:center;
    font:12px;
    box-sizing:content-box;
    vertical-align:top;
}
#home .bar a{
    height:12px;
    margin-left:0;
    padding:8px 21px 7px 21px;
    border:1px solid #30a080;
}
#home .bar input{
    color:#fff;
    height:30px;
}
#home .bar input:hover{
    background:#2a8c70;
}
#home .bar input{
    cursor: pointer;
}
#home .bar a{
    background:transparent;
    text-align:center;
}
#home .app{
    position:absolute;
    top:0;
    bottom:0;
    margin:auto 0 auto 430px;
    height:120px;  
    z-index:2;
}
#home .app  p{
    display:block;
    font-size:25px;
    margin:7px 0 25px 0;
}
#home .download{
    vertical-align:top;
}
#home .app  .download .dl{
    display:inline-block;
    background:#00B51D;
    color:#fff;
    border-radius:2px;
    line-height:1;
    padding: 9px 21px;
    vertical-align:top;
}
#home .app .download .qr{
    display:inline-block;
    vertical-align:top;
    position:relative;
}
#home .app .download .closeqr{
   display:block;
   padding:1px;
   border-radius:2px;
   margin-left:2px;
   border:1px solid #00B51D;
}
#home .app .download .openqr{
    display:none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 20px 5px;
    border-radius: 2px;
    text-align: center;
    font-size: 13px;
    color: #666;
    background: #fff;
    line-height: 13px;
    white-space: nowrap;
}
#home .app .download .openqr p{
    
    text-align: center;
    font-size: 13px;
    color: #666;
}
#home .littlelogin{
    font-size:12px;
    color:#999;
    vertical-align:top;
    overflow:hidden;
}
#home .littlelogin label,#home .littlelogin input{
    vertical-align:middle;
}
#home .littlelogin ul{
    float:right;
    margin:0;
}
#home .littlelogin li{
    display:inline-block;
}

#hot .main {
    width:650px;
    display:inline-block;
}
.more {
    font: 12px Arial,Helvetica,sans-serif;
    line-height: 150%;
    color:#666666;
}
.main .photo {
    display: inline-block;
    width:350px;
    margin-right:30px;
}
.ablum-list {
    margin: -10px 0 0 -10px;
}
.main .ablum-list .ablum{
    float: left;
    display: block;
    width: 170px;
    height: 210px;
    margin: 10px 0 0 10px;
    /* vertical-align:top; */
    font-size:12px;
    text-align:left;
}
.ablum .other {
    display: block;
    width:170px;
    margin:0;
}
.ablum .example {
    display: block;
    border:0;
}
.ablum img {
    width:170px;
    display: block;
}


.other {
    color:#999;
}
#hot .main .list {
    display: inline-block;
    width: 265px;
    vertical-align:top;
    margin:-12px 0 0 0px;
    overflow: hidden;
}
.main .word {
    display: block;
    margin:0 0 10px 0 ;
}
.word p{
    margin-block-start:0;
    margin-block-end:0;
}
.detail {
    color:grey;
}

.side .top {
    display: block;
    margin:10px 0;
}
.side img {
    width:250px;
    height: 125px;
}

.side .list {
    display: block;
}
.side .list li {
    display: block;
}
.list li .topic{
    display: inline-block;
    font-size:14px;
    line-height: 1.3;
    margin-bottom: 6px;
}
.list .other {
    font-size: 13px;
    display: block;
    margin:0 0 0 0;
    line-height:1.3;
}


.name {
    float:left;
    width:100px;
    margin-right: 20px;
}
.more {
    font: 12px Arial,Helvetica,sans-serif;
    line-height: 150%;
    color:#666666;
}
.name .title a{
    font-size: 24px;
    color:#494949;
}

#dbt .main {
    display:block;
    overflow:hidden;
}
#dbt li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 100px;
    margin-right: 60px;
    margin-bottom: 30px;
}
#dbt .name .title a:hover {
    color: #fff;
}
.href{
    margin-bottom: 10px;
    display: block;
    position: relative;
}
.type {
    display: block;
    margin-top: 10px;
    color:#999999;
    line-height: 1;
}
.list li .intro {
    font-size: 13px;
    color:#333333;
    line-height: 1.38;
}
.list li  a:hover{
    color:#fff;
}
#dbt .list li img{
    height: 141px;
    width:100px;
}
a img {
    border-width: 0;
    vertical-align: middle;
}

#video .main{
    width:830px;
    overflow:hidden;
}
#video ul {
    width:830px;
    overflow:hidden;
}
#video li {
    width:250px;
    margin:0px;
    margin-right:30px;
    overflow:hidden;
}
#video li:last-child{
    margin-right:0;
}
#video .list{
    margin-bottom:25px;
}
#video img{
    width:250px;
    height:140px;
}
h2 .point {
    font:15px Arial,Helvetica,sans-serif;
    color:#072;
    margin: 0 0 12px 0;
    line-height: 150%;
}
#video .main .title {
    font-size:13px;
    line-height:1.54;
    margin-top:10px;
}
#video .main .title a:link{
    color:#494949;
}
#video .main .title a:hover{
    color:#fff;
}



.name li{
    font-size:14px;
    margin-top:5px;
    display:block;
}
#film .name img{
    position:relative;
    top:-5px;
}
#film .main {
    width:535px;
    margin:0;
}
#film .main li {
    text-align:center;
    margin-bottom:40px;
    width:24%;
}
#film .main .list .title a:link{
    color:#333;
}
#film .main img {
    width:100px;
    height:140px;
}
#film .main .movie a:link,#film .main .movie a:visited{
    color:#333;
}
#film .main .movie a:hover{
    color:#fff;
}
#film .main .choose:hover{
    background:#047fcb;
}
#film .main li div{
    margin-bottom:4px;
}
.star {
    width:55px;
    height:11px;
    background:orange;
    display:inline-block;
    margin-right:10px;
}
#film .rating i {
    display:inline-block;
    color:orange;
    font-style:normal;
    font-weight:normal;
}
#film .list .choose{
    display:inline-block;
    background:#1c8bd0;
    color:#fff;
    border-radius:2px;
    padding:2px 10px;
}
#film .side .class .list li{
    display:inline-block;
    width:48px;
}
#film ol{
    margin:0;
    padding:0;
}
#film .side .nowhot li{
    margin-bottom:6px;
    padding-bottom:5px;
    border-bottom:1px solid #eaeaea;
    display:list-item;
    
    list-style:decimal;
    list-style-position:inside;
}
#film .side .nowhot li a{
    margin-left:5px;
}


#group .name a{
    color:#007982;
}
#group .side .moreclass {
    width:265px;
}
#group .side ul {
    margin-bottom:10px;
}
#group .label {
    display:block;
    font-size:14px;
}
#group .label a{
    color:#333;
}
#group li a{
    color:#007982;
}
#group li a:hover{
    color:#fff;
}
#group .side li:nth-child(n+2){
    display:inline-block;
    margin-right:10px;
}
#group img{
    width:48px;
    height:48px;
}
#group .main .logo{
    float:left;
    margin:0 15px 10px 0;
}
#group .main .list li{
    width:248;
    height:61px;
    margin:0 30px 30px 0;
    overflow:hidden;
}
#group .main .list li:nth-child(2n){
    margin:0 0 30px 0;
}
#group .main .name{
    overflow:hidden;
    width:185px;
    margin:0;
}

.name .applogo{
    display:block;
    background-image:url(../images/app.jpg);
    width:50px;
    height:50px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #999;
}

#read a:link,#read a:visited{
    color:#614e3c;
}
#read .name h2 a:link{
    color:#4a2f14;
}
#read a:hover{
    color:#fff;
}
#read .name ul{
    margin-bottom:30px;
}
#read .name .applogo{
    background-position:0;
}
#read .name .applogo:hover{
    background-position:0;
    background-image:url(../images/app.jpg);
}
#read .name img{
    position:relative;
    top:-5px;
}
#read .side ul{
    margin-left:-10px;
    border-bottom:1px solid #eaeaea;
    padding-bottom:10px;
}
#read .side ul:last-child{
    border:0px;
}
#read .side li{
    display:inline-block;
    margin:0 0 2px 10px;
}
#read .side ul .label{
    color:#999;
    margin-bottom:2px;
}
#read .main{
    width:535px;
}
#read .main ul{
    margin-bottom:30px;
}
#read .main li{
    width:24.8%;
    text-align:center;
}
#read .main img{
    width:100px;
}
#read .main li div:nth-child(n+2){
    margin-bottom:4px;
}
#read .main .title{
    font-size:13px;
}
#read .main .choose:hover{
    background:#878882;
}
#read .main .choose{
    display:inline-block;
    background:#999a95;
    color:#fff;
    border-radius:2px;
    padding:2px 10px;
}

#music a:link,#music a:visited{
    color:#555d53;
}
#music a:hover {
    color: #fff;
}
#music .name h2 a:link,#music .name h2 a:visited{
    color:#f38c00;
}
#music .name h2 a:hover{
    color:#fff;
}
#music .name ul{
    margin-bottom:45px;
}
#music .name  .applogo{
    display:block;
    background-image:url(../images/app.jpg);
    width:50px;
    height:50px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #999;
}
#music .name .app div{
    margin-bottom:15px;
}
#music .name .app div:nth-child(1) .applogo{
    background-position:-250px;
}
#music .name .app div:nth-child(2) .applogo {
    background-position:-50px;
}
#music .side li{
    display:list-item;
    list-style:decimal;
    list-style-position:inside;
    color:#999;
    padding-bottom:8px;
    margin-bottom:8px;
}
#music .side .pic{
    position:relative;
}
#music .side .pic a:hover .bg{
    position:absolute;
    top:0;
    width:48px;
    height:48px;
    background-color:#222;
    background-position:50% 50%;
    opacity:0.85;
    background-repeat:no-repeat;
}
#music .side .pic a:hover .play{
    position:absolute;
    top:0;
    width:48px;
    height:48px;
    background-image:url("../images/ic_bg_play.png");
    background-position:50% 50%;
    background-repeat:no-repeat;
}
#music .side li .album{
    display:inline-block;
    vertical-align:top;
    margin-left:10px;
}
#music .side .pic{
    float:left;
    margin-right:10px;
}
#music .side img{
    width:48px;
    height:48px;
}
#music .main ul{
    margin-top:-40px;
    margin-bottom:20px;
}
#music .main li{
    width:24.8%;
    text-align:center;
    margin-top:40px;
    word-spacing:normal;
    zoom:1;
    position:relative;
}
#music .main li div:nth-child(2n){
    margin-bottom:4px;
}
#music .main img{
    width:80px;
    height:80px;
}
#music .main .live{
    position:absolute;
    left:26px;
    width:80px;
    height:80px;
    background-image:url("../images/timeline-player-cover.png");
    background-position:50% 50%;
    background-repeat:no-repeat;
}
#music .main .title{
    word-wrap:break-word;
    line-height:1.45;
}
#music .rating i {
    display:inline-block;
    color:orange;
    font-style:normal;
    font-weight:normal;
}

#doupin .name .title a{
    color:#1f9432;
}
#doupin .side a{
    font-size:14px;
}
#doupin .side .what{
    margin-bottom:30px;
}
#doupin .side .what a{
    display:block;
}
#doupin .side .what img{
    width:265px;
    height:95px;
}
#doupin .side .what a:nth-child(2){
    margin:5px 0;
}
#doupin .side ul li{
    margin-bottom:10px;
    display:list-item;
}
#doupin .side ul li .infor{
    display:block;
    margin:2px 0 3px 0;
}
#doupin .side ul li .intro{
    font-size:12px;
    color:#6a6a6a;
    margin:0;
}
#doupin .side .people{
    overflow:hidden;
}
#doupin .side .date{
    float:right;
}
#doupin .main li{
    display:block;
    float:left;
    width:240px;
    margin:0 20px 30px 0;
}
#doupan .main a{
    display:block;
}
#doupin .main .pic img{
    width:240px;
    height:220px;
}
#doupin .main .intro{
    font-size:16px;
    line-height:22px;
    margin-top:10px;
}
#doupin .main .intro a{
    display:inline-block;
    overflow:hidden;
    color:#3377A9;
}
#doupin .main .intro a:hover,#doupin .name a:hover {
    color: #fff;
}
#doupin .main .intro .price{
    
    float:right;
    color:#E55457;
}

#city a:link,#city a:visited{
    color:#643;
}
#city a:hover,#city .name a:hover{
    color:#fff;
}
#city .name .title a:link,#city .name .title a:visited{
    color:#ec5303;
}
#city .name .title a:hover{
    color:#fff;
}
#city .side .moreclass {
    width:265px;
}
#city .side ul {
    margin-bottom:10px;
}
#city .label {
    display:block;
    font-size:14px;
}
#city .label a{
    color:#333;
}
#city li a:hover{
    color:#fff;
}
#city .side li:nth-child(n+2){
    display:inline-block;
    margin-right:10px;
}
#city .main li{
    width:248px;
    margin:0 20px 40px 0;
}
#city .main li:nth-child(2n){
    margin:0 0 40px 0;
}
#city .main li .pic{
    float:left;
    margin:0 10px 10px 0;
}
#city .main img{
    width:70px;
    height:90px;
}
#city .main .infor{
    overflow:hidden;
    letter-spacing:normal;
    font-size:13px;
}
#city .main .href{
    margin-bottom:4px;
}
#city .main .infor div:nth-child(n+2){
    font-size:12px;
    color:#666;
}
#bottom{
    overflow:hidden;
    margin-top:30px;
    border-top:1px #dcdcdc dashed;
    padding:14px 0;
    text-align:left;
    vertical-align:top;
    font-size:12px;
    color:#999;
}
#bottom p{
    margin:0px;
}
#bottom .where{
    float:left;
}
#bottom .douban {
    float:right;
}