body {
    font:12px Helvetica,Arial,sans-serif;
    line-height: 1.62;
    color:black;
    background-color: #f7f7f7;
}
* {
    margin:0;
    padding:0;
}
.dbt {
    display: block;
    min-height: 200px;
    width:950px;
    margin: 20px auto;
    zoom:1;
}
.name {
    float:left;
    width:100px;
    margin-right: 20px;
}
h2 {
    font:15px Arial,Helvetica,sans-serif;
    color:#072;
    margin: 0 0 12px ;
    line-height: 150%;
}
.more {
    font: 12px Arial,Helvetica,sans-serif;
    line-height: 150%;
    color:#666666;
}
a:link {
    color:#37a;
}
a:visited {
    color: #669;
}
a:hover {
    background:#37a;
    color:#fff;
}
a:active {
    background: yellow;
    color:#fff;
}
a {
    cursor:pointer;
    text-decoration: none;
}
.name .title a{
    font-size: 24px;
    color:#494949;
}
div {
    display: block;
    margin:0;
    padding:0;
}
.main {
    overflow: hidden;
}
ul {
    overflow: hidden;
    display: block;
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 100px;
    margin-right: 60px;
    margin-bottom: 30px;
}
.href{
    margin-bottom: 10px;
    display: block;
    position: relative;
}
.type {
    display: block;
    margin-top: 10px;
    color:#999999;
    line-height: 1;
}
.list li .intro {
    font-size: 13px;
    color:#333333;
    line-height: 1.38;
}
.list li img{
    height: 141px;
    width:100px;
}
a img {
    border-width: 0;
    vertical-align: middle;
}


