*{
    margin: 0;
    padding: 0;
}
#ca {
    display: block;
    width: 258px;
    margin:auto;
    border:1px solid red;
}
#num {
    display: flex;
    flex-wrap: wrap;
    margin:0 10px 10px 10px;
    padding: 0;
    list-style: none;
    width:248px;
}
.box{
    display: block;
    border:1px solid chocolate;
    background-color: chocolate;
    width: 40px;
    height: 40px;
    padding: 5px;
    margin: 10px 10px 0 0;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.box:hover {
    background-color: #fff;
    color: #ffba2e;
}
#infor {
    width:226px;
    margin:10px;
    border:1px solid #ffba2e;
    padding: 5px;
    color: #e2b598;
    overflow: hidden;
}
h1 {
    font-size: 14px;
}
span {
    font-size: 12px;
}