*{
    font-size: 66px;
    margin: 0;
}
body{
  width: 100%;
}
#app{
    position: relative;
    width: 100%;
}
#app .box{
    position: absolute;
    /* transform: translateX(0px) ; */
    /* animation: scroll 10s linear 0s; */
    /* transform: translateX(100px); */
    top:100px;
    left:100%;
    color:red;
}

@keyframes scroll{
    from{
      left:100%;
      transform:translateX(100%);
      -webkit-transform:translateX(100%);
    }
    to{
      left:0;
      transform:translateX(-100%);
      -webkit-transform:translateX(-100%);
    }
 }
 